.cart-items {
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
}

.cart-items-header { 
    margin: 32px;
}

.cart-items-image {
    padding-top: 16px;
    justify-content: center;
    width: 120px;
    height: 120px;
}

.cart-items-list {
    flex-direction: column;
    margin-bottom: 32px;
    border: 1px solid black;
    width: 300px;
}

#cart-remove-button:hover {
    background-color: red;
    color: whitesmoke
}