body {
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 250px;
    text-align: center;
    justify-content: center;
}

#predict {
    border: none;
    color: whitesmoke;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: black;
    font-weight: bolder;
    cursor: pointer;
}