body {
    padding-top: 200px;
    text-align: center;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
}

#increment-btn {
    background-color: darkred;
}

#decrement-btn {
    background-color: darkgreen;
}

#reset-btn {
    background-color: darkorange;
}

#save-btn {
    background-color: darkblue;
}

#save-el {
    font-weight: bold;
}